<div class="about-page">
  <div class="about-info">
    <h3>{{ aboutTitle }}<mat-icon class="smile-icon" aria-hidden="false" aria-label="Smile icon">tag_faces</mat-icon></h3>
    <p>{{ aboutText }}</p>
  </div>
  <div class="about-tab">
    <mat-tab-group dynamicHeight>
      <!-- <mat-tab label={{aboutCategories[0].name}}> -->
        <!-- <div class="example-small-box mat-elevation-z4">{{ aboutCategories[0].text }}</div> -->
        <!-- <div class="example-large-box mat-elevation-z4">OiOI</div> -->
      <!-- </mat-tab> -->
      <!-- <mat-tab label={{aboutCategories[1].name}}> -->
        <!-- <div class="example-small-box mat-elevation-z4">{{ aboutCategories[0].text }}</div> -->
        <!-- <div class="example-small-box mat-elevation-z4">OiOI</div> -->
      <!-- </mat-tab> -->
      <!-- <mat-tab label={{aboutCategories[2].name}}> -->
        <!-- <div class="example-small-box mat-elevation-z4">{{ aboutCategories[0].text }}</div> -->
        <!-- <div class="example-small-box mat-elevation-z4">OiOI</div> -->
      <!-- </mat-tab> -->
      <mat-tab label={{aboutCatCuriosities[3].name}}>
        <button mat-raised-button color="accent" (click)="getRandomCuriosity()">{{ buttonTxt }}</button>
        <div class="example-large-box mat-elevation-z4" *ngIf="hasCuriosity">{{ randomCuriosity }}</div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>