<div class="about-page">
  <div class="about-tab">
    <mat-tab-group dynamicHeight *ngFor="let category of aboutCategories">
      <mat-tab label=`${category}`>
        <div class="example-small-box mat-elevation-z4">Small content</div>
        <div class="example-small-box mat-elevation-z4">Small content</div>
        <div class="example-small-box mat-elevation-z4">Small content</div>
      </mat-tab>
      <mat-tab label="Short tab">
        <div class="example-small-box mat-elevation-z4">
          Small content
        </div>
      </mat-tab>
      <mat-tab label="Short tab">
        <div class="example-small-box mat-elevation-z4">
          Small content
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<p>about pg works!</p>

<!-- <mat-tab label="Long tab">
  <div class="example-large-box mat-elevation-z4">
    Large content
  </div>
</mat-tab> -->