<div class="navbar">
  <div class="navbar-items">
    <div class="logo">
      <a routerLink="/"><mat-icon class="home-icon" aria-hidden="false" aria-label="Home icon">home</mat-icon></a>
      <h2>Giulia Roperto</h2>
    </div>
    <div class="navbar-links">
      <ul class="navbar-list">
        <a routerLink="/about"><li><div><span class="navbar-list-text">{{ categories[0] }}</span><span class="navbar-list-icon"></span></div></li></a>
        <a routerLink="/contact"><li><div><span class="navbar-list-text">{{ categories[1] }}</span><span class="navbar-list-icon"></span></div></li></a>
      </ul>
    </div>
  </div>
  <div class="language">
    <spa-navbar-menu></spa-navbar-menu>
  </div>
</div>