@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Catamaran&display=swap');

body {
  font-family: Catamaran, monospace;
  text-align: center;
  font-size: 3.5rem;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Berkshire Swash', monospace;
  text-align: center;
}