@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Catamaran&display=swap');

.home {
  font-family: Catamaran, monospace;
  background-color: rgb(154, 153, 153);
  min-height: 90vh;
  max-width: 100vw;
  text-align: center;
  font-size: 2rem;
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
}

.landing-page h1 {
  font-family: 'Berkshire Swash', monospace;
  font-size: 4rem;
  line-height: 10vh;
  width: 80vw;
}

.landing-page img {
  margin-top: 5vh;
  width: 30vw;
}